@import 'src/assets/scss/fonts';
@import 'src/assets/scss/variables';

// .is-valid {
//     // border: 2px solid blue
// }

.is-invalid {
    border: 2px solid #EE4036;
    background-image: url("src/assets/icon/icon-help.svg") no-repeat;
}

.is-valid {
    border: 1px solid #5EB003
}

.is-invalid-select {
    border: 1px solid #EE4036;
}

.primary-button {
    background-color: $primary-color-1;
    width: 100%;
    color: $white;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    height: 2rem;
}

.bg-color-1{
    --background: #003A58;
}

ion-toolbar{
    --background: #ffffff;
}

.vertical-align {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

.horizontal-align {
    justify-content: center !important;
}

.flex-align-right {
    justify-content: flex-end;
}

.flex-align-center {
    justify-content: center;
}

.disable {
    opacity: 0.5;
}




